{{define "add"}}
    <!DOCTYPE html>
    <html lang="en">
    {{template "head" "Add"}}
    <body>
    {{template "header" "Add"}}
    <main>
        <form method="post" action="/add">
            <input type="text" name="blockData" placeholder="Data for your block" required />
            <button>add</button>
        </form>
    </main>
    {{template "footer"}}
    </body>
    </html>
{{end}}
